<div *ngIf="user$ | async; else deslogado">
    <p>Olá {{ (user$ | async).email }}</p>

    <a routerLink="/">Home</a> | 
    <a routerLink="/todo">Todos</a> | 
    <a routerLink="/todo/add">Adicionar Todo</a> | 
    <a routerLink="/cep">CEP</a> | 
    <button (click)="logout()">Sair</button>
</div>

<ng-template #deslogado>
    <a routerLink="/">Home</a> | 
    <a routerLink="/cep">CEP</a> | 
    <a routerLink="/auth/login">Entrar</a> | 
    <a routerLink="/auth/register">Cadastro</a>
</ng-template>

<div>
    <router-outlet></router-outlet>
</div>