<app-contador></app-contador>

<strong>App: {{ contador }}</strong>

<app-contador-botoes></app-contador-botoes>

<div>
    <a routerLink="/">Home</a> | <a routerLink="/todos">Todos</a> | <a routerLink="/cep/04812227">CEP</a>
    <ul>
        <li>
            <a routerLink="/">Início</a>
        </li>
        <li>        
            <a routerLink="/todos">To Dos</a>
        </li>
        <li>
            <a routerLink="/cep">CEP</a>
        </li>
        <li>
            <a routerLink="/cep/04812227">CEP na URL</a>
        </li>
        <li>
            <a routerLink="/todo/add">Add Todo</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>